 *{margin: 0;padding: 0;}
    ul,li{list-style: none;}
    a{text-decoration: none; color: #000;}
    #wrap{
        width: 1200px;
        margin: 0 auto;
    }
    header{
        width: 1200px;
        height: 100px;
        position: relative;
        z-index: 1;
        background-color: #ccc;
    }
    header .logo{
        position: absolute;
        left: 0;
        top: 30px;
    }
    header .logo img{
        width: 200px;
        height:auto; /*이미지 비율유지를 위해*/
        display: block;
    }

   header nav{
    position: absolute;
    right: 20px;
    top: 25px;
   }
   header nav .nav-bg{
    position: absolute;
    width: 100%;
    height: 160px;
    right: 0;
    top: 100%;
    background-color: lightgoldenrodyellow;
    display:none;
   }
   header nav .gnb {
	width:600px;
	height:50px;
   }
   header nav .gnb > li{
    float: left;
    width: 25%;
    height: 50px;
    position: relative;
    text-align: center;
   }
   header nav .gnb > li > a{
    display: block;
    line-height: 50px;
    font-weight: bold;
    font-size: 17px;
   }
   header nav .gnb > li:hover > a{
    color: orange;
    background-color: lightgoldenrodyellow;
   }
   header nav .gnb > li > ul{
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    line-height: 40px;
    display:none;
   }
   header nav .gnb > li > ul > li > a{
    display: block;
    width: 100%;
   }
   header nav .gnb > li > ul > li > a:hover{
    color: lightgoldenrodyellow;
    background-color: orange;
   }

  .slide{
        width: 1200px;
        height: 300px;
    }
    .slide .slides{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden; 
    }
    .slide .slides li{
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 100%;
    }
    .slide .slides li:first-child{
        top: 0;
    }
    .slide .slides li img{
        width: 100%;
        height: auto;
        display: block;
    }

  .contents{
        width: 1200px;
        height: 200px;
    }
    .contents .content{
        float: left;
        width: 33.333%;
        height: 200px;
    }
    .contents .c1 .tab_menu{
        width: 100%;
     }
     .contents .c1 .tab_menu .tab_title{
        width: 100%;
        height: 30px;
        background-color: #fff;
     }
     .contents .c1 .tab_menu h2{
        width: 50%;
        height: 30px;
        float: left;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid #333;
        cursor: pointer;
     }
     .contents .c1 .tab_menu h2:nth-child(2){
        border-left: 0;
     }
     .contents .c1 .tab_menu h2.on{
        border-bottom: 0;
     }
     .contents .c1 .tab_menu .tab_list{
        width: 100%;
        border: 1px solid #333;
        border-top: 0;
        box-sizing: border-box;
     }
     .contents .c1 .tab_menu .tab_list table{
        width: 100%;
        border-spacing: 0; /* td나 th 사이의 간격틈 */
        line-height: 41px;
        border-collapse: collapse; /* 테이블 셀 간의 테두리(border)를 겹치게 */
     }
     .contents .c1 .tab_menu .tab_list table tr th{
	border-bottom:1px solid #000;
    }
    .contents .c1 .tab_menu .tab_list table tr th:first-child{
        text-align: left;
        cursor: pointer;
    }
    .contents .c1 .tab_menu .tab_list table tr th:last-child{
        text-align: right;
    }
    .contents .c1 .tab_menu .tab_list .gallery{
        display: none;
    }
    .contents .c1 .tab_menu .tab_list .gallery img{
        width: 32.5%;
        margin-top: 3px;
    }
    .contents .content > img{
        width: 100%;
        height: auto;
        display: block;
    }

    footer{
        width: 1200px;
        height: 100px;
        background-color: #ccc;
    }
    footer .foot{
        float: left;
    }
    footer .f1{
        width: 200px;
        height: 100px;
    }
    footer .f1 img{
        margin-top: 30px;
    }
    footer .f2{
        width: 800px;
        height: 100px; 
        text-align: center;
    }
    footer .f2 p{
        margin-top: 30px;
    }
    footer .f3{
        width: 200px;
        height: 100px;
    }
    footer .f3 .icons{
        width: 33.33%;
        float: left;
        cursor: pointer;
    }
    footer .f3 .icons img{
	width:80%;
	display:block;
	margin:20px auto;
}
.popup{
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: none;
}
.popup .title{
    margin-bottom: 40px;
}
.popup button{
    padding: 5px 15px;
}
