*{margin: 0;padding: 0;}
    ul li{list-style: none;}
    a{text-decoration: none; color: #222;}
    .cf:after{content:''; display:block; clear:both;}
    #wrap{
        width: 1200px;
        height: 700px;
        margin: 0 auto;
        background-color: #fff;
    }
    header{
        width: 100%;
        height: 100px;
        position: relative;
        /* z-index: 1;  */
    }
    header .logo{
        width: 20%;
        height: 100px;
        position: absolute;
        top: 30px;
        left: 20px;
    }
    header .logo img{
        width: 200px;
        height: auto;
        display: block;
    }
    header nav{
        position: absolute;
        top: 50%;
        right: 20px;
        background-color: #fff;
    }
    header .nav_bg{
        position: absolute;
        top: 100%;
        height: 150px;
        right: 0;
        width: 100%;
        background-color: rgb(120, 180, 29);
        display: none;
        z-index: 1; 

    }
    header nav .gnb{
        width: 600px;
        height: 50px;
    }
    header nav .gnb > li{
        float: left;
        width: 150px;
        height: 50px;
        position: relative;
        text-align: center;
    }
    header nav .gnb > li > a{
        line-height: 50px;
        display: block;
        font-size: 21px;
        font-weight: bold;
    }
    header nav .gnb > li:hover > a{
        background-color: rgb(120, 180, 29);
        color: #fff;
    }
    header nav .gnb > li > ul{
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        line-height: 45px;
        display: none;
        z-index: 2; 
    }
    header nav .gnb > li > ul > li > a{
        display: block;
        font-size: 21px;
        width: 100%;
    }
    header nav .gnb > li > ul > li > a:hover{
        background-color: green;
        color: #fff;
    }


    .slide{
        width: 100%;
        height: 300px;
    }
    .slide .slides{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .slide .slides li{
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
    }
    .slide .slides li:first-child{
        left: 0;
    }
    .slide .slides li img{
        width: 100%;
        height: auto;
        display: block;
    }


    .contents{
        width: 100%;
        height: 200px;
        position: relative;
    }
    .contents .notice{
        position: absolute;
        left: 0;
        top: 0;
        width: 33.33%;
        height: 100%;
    }
    .contents .notice h1{
        position: absolute;
        left: 10px;
        top: 5px;
        font-size: 16px;
        background-color: rgb(120, 180, 29);
        padding: 7px 20px 10px;
        border-radius: 5px 5px 0 0;
    }
    .contents .notice table{
        position: absolute;
        left: 0;
        top: 40px;
        line-height: 30px;
        font-size: 12px;
        width: 390px;
        height: 155px;
        background-color: green;
        color: #fff;
        padding: 5px;
    }
    .contents .notice table tr:hover{
        text-decoration: underline;
    }
    .contents .gallery{
        position: absolute;
        left: 400px;
        top: 0;
        width: 33.33%;
        height: 100%;
    }
    .contents .gallery h1{
        position: absolute;
        left: 10px;
        top: 5px;
        font-size: 16px;
        background-color: rgb(120, 180, 29);
        padding: 7px 20px 10px;
        border-radius: 5px 5px 0 0;
    }
    .contents .gallery ul{
        position: absolute;
        left: 0;
        top: 40px;
        width: 400px;
        height: 155px;
        background-color: #434748;
    }
    .contents .gallery ul li{
        float: left;
        margin-top: 8px;
        margin-left: 10px;
    }
    .contents .gallery ul li img{
        height: 139px;
        width: 120px;
    }
    .contents .banner{
        position: absolute;
        left: 800px;
        top: 0;
        width: 33.33%;
        height: 100%;
    }
    .contents .banner img{
        margin-left: 20px;
        margin-top: 5px;
        display: block;
    }

    
    footer{
        width: 100%;
        height: 100px;
        background-color:#434748;
        position: relative;
    }
   
    footer .f_logo{
        width: 200px;
        height: 100px;
        position: absolute;
    }
    footer .f_logo img{
        position: absolute;
        top: 30px;
        left:20px;
    }
    footer .f_copy{
        width: 700px;
        height: 100px;
        position: absolute;
        left: 200px;
        top: 0;
    }
    footer .f_copy p{
        position: absolute;
        top: 10px;
        left: 105px;
        color: #fff;
        font-size: 12.8px;
        line-height: 20px;
    }

    footer .f_family{
        width: 300px;
        height: 100px;
        position: absolute;
        left: 900px;
        top: 0;
    }
    footer .f_family img{
        float: left;
        margin: 34px 10px;
    }

    #pop{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
    }
    #pop .popup{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        width: 650px;
        height: 290px;
    }
    #pop .popup .title{
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 20px;
    }
    #pop .popup span{
        position: absolute;
        left: 30px;
        top: 100px;
        font-size: 16px;
        line-height: 24px;
        width: 600px;
        word-break:keep-all;
    }
    #pop .popup button{
        position: absolute;
        right: 30px;
        bottom: 20px;
        padding: 5px 25px;
        border: 0;
        border-radius: 5px;
    }
