    *{margin: 0;padding: 0;}
    body{background-color: #F7F6F2;}
    ul, li{list-style: none;}
    a{text-decoration: none; color: #111;}
    html, body {
    overflow-x: hidden;
}
    #wrap{
        width: 100%;
    }
    header{
        width: 100%;
        height: 90px;
        background-color: #F7F6F2;
    }
    header .top_banner{
        width: 100%;
        height: 30px;
        background-color:  rgb(15, 75, 15);
        overflow: hidden;
        position: relative; 
    }
     header .top_banner .top_text {
        display: flex;
        white-space: nowrap;
        color: #fff;
        font-size: 12px;
        position: absolute;
        top: 6px;
        left: 0;
        animation: rollingLoop 26s linear infinite;
    }
    header .top_banner .top_text .text_wrap {
        display: flex;
    }
    .top_text span{
        margin-left: 125px;
        cursor: pointer;
    }
    @keyframes rollingLoop {
    0% { transform: translateX(-50%);}
    100% { transform: translateX(0);}
    }

    header .header_container{
        position: relative;
        z-index: 10;
        width: 100%;
        height: 60px;
        display: flex;
    }
    /* .header_container.fixed{
        position: fixed;
    } */
    header .logo{
        width: 15%;
        height: 60px;
        background-color: #F7F6F2;
    }
    header .logo p{
        font-family: "Archivo Black", sans-serif;
        font-size: 29px;
        padding-left: 35px;
        margin-top: 9px;
    }
    header nav{
        width: 65%;
        height: 60px;
        position: relative;
        z-index: 9;
    }
    header nav .gnb{
        position: absolute;
        bottom: 5px;
        left: 0;
        display: flex;
        gap: 45px;
    }
    header nav .gnb > li{
        text-align: center;
        height: 50px;
    }
    header nav .gnb > li > a{
        font-size: 17px;
        font-weight: 500;
        line-height: 50px;
        background-color: #F7F6F2;
    }
    header nav .gnb > li:hover > a{
        text-decoration: underline;
    }
    header nav .gnb > li > ul{
        position: absolute;
        width: 900px;
        left:138PX;  
        display: none;
        background-color: #F7F6F2;
    }
    header nav .gnb > li > ul > li{
        display:inline-block;
        line-height: 50px;

    }
    header nav .gnb > li > ul > li > a{
        display: inline-block;
        padding: 0 30px;
    }
    header nav .gnb > li > ul > li > a:hover{
        color: rgb(16, 87, 16);
    }
    .shadow{
        position: absolute;
        height: 50px;
        background-color: #F7F6F2;
        width:100%;
        display: none;
        z-index: 8;
    }
    header .h_icon{
        width: 20%;
        height: 60px;
        background-color: #F7F6F2;
        position: relative;
    }
    header .h_icon > ul{
        display: flex;
        position: absolute;
        right: 30px;
       
    }
    .h_icon ul img{
        width: 35px;
        padding: 15px 10px;
    }
    header .h_icon > ul > li > ul{
        position: absolute;
        background-color: #F7F6F2;
        width: 70%;
        top: 60px;
        padding: 7px 0;
        display: none;
    }
    header .h_icon > ul > li > ul > li{
        line-height: 26px;
    }
    header .h_icon > ul > li > ul > li > a{
        display: block;
        width: 100%;
        font-size: 13px;
        padding: 0 15px;  
    }
    header .h_icon > ul > li > ul > li > a:hover{
        color: #666;
    }
    .slide{
        width: 100%;
        height: calc(100vh - 90px);
        background-color: #888;
    }
    .slide .slides{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .slides ul li{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .slides .sd1{
        left: 0;
        background: url(../images/slide5.jpg) no-repeat 50% 0;
        cursor: pointer;
    }
    .slides .sd2{
        left: 100%;
        background: url(../images/slide4.jpg) no-repeat 50% 0;
        cursor: pointer;
    }
    .slides .sd3{
        left: 200%;
        background: url(../images/slide3.jpg) no-repeat 50% 0;
        cursor: pointer;
    }
    .slides .sd4{
        left: 300%;
        background: url(../images/slide2.jpg) no-repeat 50% 0;
        cursor: pointer;
    }
    .slide li a{
    display: block;
    text-indent: -9999px;
    }
    .buttonList{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    }
    .buttonList li{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #fff;
    margin: 0 5px;
    }
    .buttonList li.on{
        width: 35px;
        background-color: #333;
        transition: all 0.3s;
    }
    .buttonList li a{
    display: block;
    text-indent: -9999px;
    }
  
    .content1{
        width: 100%;
        height: 1450px;
    }
    .content1 .tab_menu{
        width: 100%;
    }
    .content1 .tab_menu .tab_title{
        width: 100%;
        height: 130px;
        background-color: #F7F6F2;
        display: flex;
        gap: 7px;
        justify-content: center;
    }
    .tab_title h2{
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 33px;
        margin-top: 50px;
        cursor: pointer;
        border-radius: 6px;
        border: 1px solid #888;
        width: 80px;
        height: 35px;
        background: radial-gradient(ellipse at center, #F7F6F2 0%,rgba(247,247,247,1) 61%,rgba(226,226,226,1) 100%);
        box-shadow: inset 1px 1px 5px rgba(0,0,0,0.2);
    }
    .tab_title h2:hover{
        color: rgb(16, 87, 16);
        background: radial-gradient(ellipse at center, #dddddd 0%,rgb(240, 240, 240) 61%,rgb(209, 209, 209) 100%);
        box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
    }
  
    .content1 .tab_menu .tab_list{
        width: 100%;
        height: 1320px;
        background-color: #F7F6F2;
    }
    .content1 .tab_menu .tab_list .product1 ul{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .content1 .tab_menu .tab_list .product1 ul li{
        width: 460px;
        height: 650px;
        background-color: #F7F6F2;
        text-align: center;
        position: relative;
    }
    .product1 ul li .name{
        text-align: left;
        margin-top: 10px;
        margin-left: 5px;
        color: #333;
        position: relative;
        top: 540px;
    }
    .product1 ul li .name .m_name{
        font-size: 13px;
        margin-bottom: 5px;
    }.product1 ul li .name .p_name{
        text-decoration: line-through;
        font-size: 15px;
    }
    .product1 ul li .name .p_name span{
        text-decoration: none;
        font-weight: bold;
         display: inline-block;
        margin-left: 10px;
    }
    .content1 .tab_menu .tab_list .product1 ul li img{
        width: 450px;
        height: 540px;
        object-fit: cover;
        background-color: #b3b3b3;
        border: 1px solid #555;
        position: absolute;
        top: 0;
        left: 5px;
        transition: all 0.5s;
    }
    .product1 ul li a .img2 { opacity: 0; } 
    .product1 ul li a:hover .img2 { opacity: 1; } 
    .product1 ul li a:hover .img1 { opacity: 0; }

    .content1 .tab_menu .tab_list .product2{
        display: none;
    }
    .content1 .tab_menu .tab_list .product2 ul{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .content1 .tab_menu .tab_list .product2 ul li{
        width: 460px;
        height: 650px;
        background-color: #F7F6F2;
        text-align: center;
        position: relative;
    }
    .product2 ul li .name{
        text-align: left;
        margin-top: 10px;
        margin-left: 5px;
        color: #333;
        position: relative;
        top: 540px;
    }
    .product2 ul li .name .m_name{
        font-size: 14px;
        margin-bottom: 5px;
    }.product2 ul li .name .p_name{
        text-decoration: line-through;
        font-size: 15px;
        cursor: pointer;
    }
    .product2 ul li .name .p_name span{
        text-decoration: none;
        font-weight: bold;
         display: inline-block;
        margin-left: 10px;
    }
    .content1 .tab_menu .tab_list .product2 ul li img{
        width: 450px;
        height: 540px;
        background-color: #b3b3b3;
        border: 1px solid #555;
        position: absolute;
        top: 0;
        left: 5px;
    }
  
    .content2{
        width: 100%;
        height: 930px;
        background-color: #666;
       
    }
    .content2 .c2_1{
        width: 100%;
        height: 600px;
        background-color: #F7F6F2;
        position: relative;
    }
    .content2 .c2_1 > h2{
        text-align: center;
        padding-top: 70px;
    }
    .content2 .c2_1 > p{
        text-align: center;
        font-size: 13px;
        color: #333;
        padding-top: 5px;
        cursor: pointer;
    }
    .content2 .c2_1 img{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 430px;
        object-fit: cover;
    }

    .content2 .c2_2{
        width: 100%;
        height: 400px;
        background-color: #F7F6F2;
        position: relative;
    }
    .c2_2 .roll-slide{
        height: 280px;
        width: 88%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        border: 1px solid #555;
        overflow: hidden;
    }
    .c2_2 .roll-slide .roll-slides{
        width: 5000px;
        height: 300px;
        /* border: 1px solid red; */
    }
    .roll-slides li{
        float: left;
        height: 280px;
        width: 260px;
        margin: 0 8px;
    }
    .roll-slides li img{
        height: 280px;
        object-fit: cover;
        transition: transform 0.3s ease;
    }
    .roll-slides li img:hover{
        transform: scale(1.07);
    }

    .c2_2 .prev{
        position: absolute;
        left: 60px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.3;
        transition: all 0.4s;
    }
    .c2_2 .next{
        position: absolute;
        right: 60px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.3;
        transition: all 0.4s;
    }
    .prev:hover{
        opacity: 1;
    }
    .next:hover{
        opacity: 1;
    }

    
    .content3{
        width: 100%;
        height: 1200px;
        background-color: #515151;
    }
    .content3 .c3_1{
        width: 100%;
        height: 210px;
        position: relative;
    }
    .content3 .c3_1 h2{
        position: absolute;
        top: 130px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
    }
    .c3_box{
        position: relative;
    }
    .c3_box button{
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        z-index: 2;
    }
    .c3_box button .icon {
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .c3_box button .plus {
        display: inline;  
    }
        .c3_box button .close {
        display: none;    
    }
        .c3_box button.active .plus {
        display: none;    
    }
        .c3_box button.active .close {
        display: inline;  
    }
    .c3_info {
        display: none;
        position: absolute;
        bottom: 10px;
        right: 60px;
        height: 120px;
        cursor: pointer;
    }
    .content3 .c3_2 .c3_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px; 
    }
    .content3 .c3_2 a{
        height: 450px;
        display: block;
    }
    .content3 .c3_2 .m_img{
        width: 450px;
        height: 450px;
        background-color: #888;
    }
    .content4{
        width: 100%;
        height: 800px;
        background-color: #fff;
        position: relative;
    }
    .c4_container{
        display: flex;
        gap: 50px;
        justify-content: center;
        padding-top: 140px;
    }
    .content4 .name2{
        text-align: center;
    }
    .content4 .name2 .m_name2{
        font-size: 24px;
        font-weight: bold;
        padding-top: 12px;
    }
    .content4 .name2 .s_name2{
        font-size: 14px;
        padding-top: 8px;
        color: #666;
    }
    .content4 .name2 .k_name2{
        padding-top: 2px;
    }
    .name2 .k_name2 a{
        color: #333;
        text-decoration: underline;
        font-size: 13px; 
        font-weight: 500;
    }
    
    .content4 .c4_1 img{
        width: 800px;
        height: 470px;
        background-color: aliceblue;
    }
    .content4 .c4_2 img{
        width: 800px;
        height: 470px;
        background-color: aliceblue;
    }

    footer{
        width: 100%;
        height: 220px;
        display: flex;
        background-color: #fff;
        border-top: 1px solid #999;
    }
    footer .f_1{
        width: 80%;
        height: 220px;
    }
    footer .f_1 .f_menu{
        width: 100%;
        height: 70px;
        position: relative;
    }
    .f_1 .f_menu .f_menus{
        position: absolute;
        left: 40px;
        top: 35px;

    }
    .f_1 .f_menu .f_menus a{
        font-size: 13px;
    }
    .f_1 .f_menu .f_menus a:hover{
        text-decoration: underline;
    }
    .f_1 .f_menu .f_menus a:not(:last-child)::after{
        content: '|';
        margin: 0 10px;
    }


     footer .f_1 .f_copy{
        width: 100%;
        height: 150px;
        position: relative;
     }
     footer .f_1 .f_copy p{
        font-size: 13px;
        line-height: 23px;
        position: absolute;
        left: 40px;
        top: 10px;
     }
     
    footer .f_2 {
        width: 20%;
        display: flex;
        flex-direction: column;     /* 세로로 두 줄 */
        align-items: flex-start;    /* 왼쪽 정렬 */
        margin-left: 1200px;
        padding-top: 30px;        
     }

    footer .f_2 .sns_item {
        display: flex;
        align-items: center;     
        gap: 6px;             
      }
      footer .f_2 .sns_item a{
        width: 25px;
        height: 25px;
      }

    footer .f_2 .sns_item img {
        width: 25px;
        height: 25px;
       }

    footer .f_2 .sns_item p {
        font-size: 12px;
        margin: 0;
        cursor: pointer;
     }

     #popup{
        position: absolute;
        top: 210px;
        left: 200px;
        display: none;
     }
     #popup img {
        display: block;
    }
     .closeWrap{
        background-color: #fff;
        text-align: center;
        width: 300px;
        
    }
    .closeWrap button{
        border: 0;
        background-color: #fff;
        font-size: 11px;
        font-weight: 500;
        width: 49%;
        padding: 6px 0;
        cursor: pointer;
    }
   