*{margin: 0;padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}
#wrapper{
    width: 900px;
    margin: 0 auto;
}
/* 전체를 900 중앙정렬 */
header{
    width: 900px;
    height: 200px;
    background-color: #f46075;
}
header h1{
    float: left;
    margin-left: 50px; 
    margin-top: 70px;
    color: white;
}
header .logo_p{
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}
nav{
    height: 60px;
    background-color: #ccc;
}
nav ul li{
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}
nav ul li a{
    display: block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
nav ul li:hover a{
    background-color: #f46075;
    font-weight: bold;
    color: white;
    border-radius: 20px;
}
.main{
    height: 550px;
}
section{
    height: 550px;
    width: 650px;
    background-color: skyblue;
    float: left;
}
section h2{
    text-align: center;
    padding: 10px 0;
}
section article{
    width: 280px;
    height: 180px;
    background-color: #fff;
    float: left;
    border: 1px solid #333;
    margin: 0 0 15px 15px ;
    padding: 10px;
    text-align: justify;
    /* justify 텍스트 양쪽정렬 */
}
section article p{
    font-size: 13px;
}
article h3{
    padding-left: 30px;
    padding-bottom: 10px;
    background: url(../img/bg.png) no-repeat 0% 20%;
}
aside{
    height: 550px;
    width: 250px;
    background-color: #ffffcc;
    float: left;
    text-align: center;
}
aside h2{
    padding: 10px 0;
}
aside img{
    padding-bottom: 10px;
}
footer{
    height: 50px;
    line-height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
}