*{margin: 0;padding: 0; color: #333;}
ul, li{list-style: none;}
a{text-decoration: none;color: #333;}
#wrap{
    width: 100%;
}
header{
    width: 1200px;
    height: 100px;
    background-color: #fff4d4;
    display: flex;
    margin: 0 auto;
}
header .logo{
    width: 20%;
    height: 100px;
    position: relative;
}
header .logo img{
    position: absolute;
    top: 25px;
    left: 5px;
}
header nav{
    width: 80%;
    height: 100px;
    position: relative;
    z-index: 10;
}
header nav .gnb{
    width: 600px;
    height: 50px;
    background-color: #ebc580;
    position: absolute;
    top: 25px;
    right: 20px;
}
header nav .gnb > li{
    float: left;
    width: 150px;
    text-align: center;
}
header nav .gnb > li > a{
    display: block;
    width: 100%;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #634309;
}
header nav .gnb > li:hover > a{
    background-color: #f08f10;
    color: #fff;
}
header nav .gnb > li > ul{
    line-height: 40px;
    background-color: #f0af4d;
    display: none;
}
header nav .gnb > li > ul > li > a{
    display: block;
    width: 100%;
}
header nav .gnb > li > ul > li > a:hover{
    background-color: #ffd595;
    color: #fa5f16;
}
.slide{
    width: 1200px;
    height: 300px;
    background-color: #222;
    margin: 0 auto;
}
.slide .slides{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slide .slides li{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
}
.slide .slides li:first-child{
    top: 0;
}
.slide .slides img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contents{
    width: 1200px;
    height: 200px;
    background-color: #444;
    display: flex;
    margin: 0 auto;
}
.contents .c1{
    width: 400px;
    height: 200px;
    background-color: #fff8d0;
}
.contents .c1 .tab_title{
    display: flex;
    gap: 10px;
    padding-left: 25px;
    padding-top: 20px;
}
.contents .c1 .tab_title h2{
    cursor: pointer;
    font-size: 25px;
}
.contents .c1 .tab_title h2.on{
    text-decoration: underline;
}
.contents .c1 .tab_title h2:first-child::after{
    content: '|';
    padding-left: 10px;
    font-size: 20px ;
    position: relative;
    top: -4px;
    display: inline-block;
}
.contents .c1 table{
    width: 100%;
    margin-top: 7px;
}
.contents .c1 table tr td:first-child{
    text-align: left;
    padding-left: 25px;
    padding-top: 5px;
    cursor: pointer;
}
.contents .c1 table tr td:first-child:hover{
    text-decoration: underline;
}
.contents .c1 table tr td:last-child{
    text-align: right;
    padding-right: 25px;
    padding-top: 5px;
}
.c1 .gallery{
    display: none;
    margin-top: 10px;
    margin-left: 15px;
}
.c1 .gallery img{
    width: 110px;
    height: 120px;
    object-fit: cover;
    padding-left: 5px;
    padding-right: 5px;
}
.contents .c2{
    width: 400px;
    height: 200px;
    background-color: #333;
}
.contents .c2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contents .c3{
    width: 400px;
    height: 200px;
    background-color: #666;
}
.contents .c3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer{
    width: 1200px;
    height: 100px;
    background-color: #969082;
    display: flex;
    margin: 0 auto;
}
footer .f_logo{
    width: 20%;
    height: 100px;
    position: relative;
}
footer .f_logo img{
    position: absolute;
    top: 25px;
    left: 5px;
}
footer .f_copy{
    width: 60%;
    height: 100px;
}
footer .f_copy p{
    text-align: center;
    margin-top: 25px;
}
footer .f_sns{
    width: 20%;
    height: 100px;
}
footer .f_sns ul{
    display: flex;
    gap: 5px;
    margin-left: 30px;
    margin-top: 21px;
}
footer .f_sns ul img{
    width: 60px;
    height: auto;
    object-fit: cover;
}
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    background-color: #fff;
    width: 500px;
    height: 330px;
    border-radius: 20px;
    border: 9px solid #4d4d4d;
    display: none;
}
.popup h2{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 27px;
}
.popup p{
    position: absolute;
    top: 80px;
    right: 20px;
    left: 20px;
    line-height: 26px;
    font-size: 15px;
}
.popup button{
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: 0;
    border-radius: 5px;
    padding: 5px 25px;
}
