    *{margin: 0;padding: 0;}
    ul, li{list-style: none;}
    a{text-decoration: none; color: #111;}
    #wrap{
        width: 100%;
    }
    header{
        width: 100%;
        height: 100px;
        background-color: skyblue;
    }
    header .header_container{
        width: 1200px;
        height: 100px;
        margin: 0 auto;
    }
    header .header_container .logo{
        width: 20%;
        height: 100px;
        background-color: rgb(126, 183, 248);
        float: left;
    }
     header .header_container nav{
        width: 80%;
        height: 100px;
        float: left;
        background-color: darkblue;
     }
     .slide{
        width: 1200px;
        height: 300px;
        margin: 0 auto;
        background-color: #999;
     }
     .slide .slides{
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
     }
     .slide .slides li{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 100%;
      left: 0;
     }
     .slide .slides li:first-child{
      top: 0;
     }
     .slide .slides li img{
      width: 100%;
      height: auto;
      display: block;
     }

     .contents{
        width: 1200px;
        height: 200px;
        margin: 0 auto;
        display: flex;
     }
     .contents .notice{
        width: 33.33%;
        height: 200px;
        background-color: #777;
     }
     .contents h1{
        padding-top: 10px;
        padding-left: 15px;
        text-decoration: underline;
     }
     .contents .notice table{
        width: 100%;
        margin-top: 10px;
     }
     .contents .notice table tr td{
        font-size: 14px;
     }
     .contents .notice table tr td:first-child{
        text-align: left;
        padding-left: 15px;
        padding-top: 5px;
        cursor: pointer;
     }
     .contents .notice table tr td:first-child:hover{
        text-decoration: underline;
     }
     .contents .notice table tr td:last-child{
        text-align: right;
        padding-right: 15px;
        padding-top: 5px;
     }
     .contents .gallery{
        width: 33.33%;
        height: 200px;
        background-color: #666;
     }
     .contents .gallery ul{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
     }
     .contents .gallery img{
        width: 120px;
        height: 120px;
        object-fit: cover;
     }
     .contents .shortcut{
        width: 33.33%;
        height: 200px;
        background-color: #555;
     }
     .contents .shortcut ul{
        display: flex;
        justify-content: center;
        gap: 5px;
     }
     .contents .shortcut img{
        width: 125px;
        height: 140px;
        object-fit: cover;
     }


     footer{
        width: 100%;
        height: 100px;
        background-color: lightgoldenrodyellow;
     }
     footer .footer_container{
        width: 1200px;
        height: 100px;
        margin: 0 auto;
        display: flex;
     }
     footer .footer_container .f_1{
        width: 80%;
        height: 100px;
        background-color: #aaa;
     }
     footer .footer_container .f_2{
        width: 20%;
        height: 100px;
     }
     footer .footer_container .f_2 .f_sns{
        width: 100%;
        height: 50px;
        background-color: yellowgreen;
     }
     footer .footer_container .f_2 .f_family{
        width: 100%;
        height: 50px;
        background-color: green;
     }

     #pop{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      display: none;
     }
     #pop .popup{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
      height: 700px;
      background-color: #fff;
      border-radius: 20px;
      border: 7px solid rgb(181, 211, 135);
     }
     #pop .popup .p_title{
      position: absolute;
      top: 30px;
      left: 30px;
      font-size: 30px;
     }
     #pop .popup p{
      position: absolute;
      top: 100px;
      left: 30px;
      right: 30px;
      line-height: 25px;
     }
     #pop .popup button{
      position: absolute;
      bottom: 30px;
      right: 30px;
      padding: 5px 25px;
      border: 0;
      border-radius: 5px;
     }
