*{margin: 0;padding: 0;}
ul, li{list-style: none;}
a{text-decoration: none;}
    #wrap{
        width: 1200px;
        height: 700px;
        margin: 0 auto;
    }
    header{
        width: 100%;
        height: 100px;
        display: flex;
    }
    header .logo{
        width: 20%;
        height: 100px;
        background-color: #999;
    }
    header nav{
        width: 80%;
        height: 100px;
        background-color: #666;
    }
    .slide{
        width: 100%;
        height: 300px;
        background-color: #555;
    }
    .slide .slides{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .slide .slides li{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .slide .slides li:first-child{
        top: 0;
    }
    .slide .slides li img{
        width: 100%;
        height: auto;
        display: block;
    }
    
    .contents{
        width: 100%;
        height: 200px;
        display: flex;
    }
    .contents .c1{
        width: 400px;
        height: 200px;
        background-color: #d1d1d1;
    }
    .contents .c1 .tab_menu{
        width: 100%;
        height: 100%;
    }
    .contents .c1 .tab_menu .tab_title{
        width: 100%;
        height: 30%;
        display: flex;
        gap: 10px;
        padding-left: 15px;
    }
    .tab_title h2:first-child::after {
        content: "|";
        margin-left: 10px;
        color: #000;
        font-size: 24px;
        position: relative;
        top: -4px;
    }
    .contents .c1 .tab_menu .tab_title h2.on{
        text-decoration: underline;
    }
    .contents .c1 .tab_menu .tab_title h2{
        padding-top: 15px;
        font-size: 28px;
        cursor: pointer;   
        text-decoration: none; 
    }

    .contents .c1 .tab_menu .tab_list{
        width: 100%;
        height: 70%;
    }
    .contents .c1 .tab_menu .tab_list table{
        width: 100%;
    }
    .contents .c1 .tab_menu .tab_list table tr td:first-child{
        text-align: left;
        cursor: pointer;
        padding-left: 15px;
        padding-top: 4px;
    }
    .contents .c1 .tab_menu .tab_list table tr td:first-child:hover{
        text-decoration: underline;
    }
    .contents .c1 .tab_menu .tab_list table tr td:last-child{
        text-align: right;
        padding-right: 15px;
        padding-top: 4px;
    }
    .contents .c1 .tab_menu .tab_list .gallery{
        display: none;
        text-align: center;
    }
    .contents .c1 .tab_menu .tab_list .gallery img{
      width: 31%;
      height: 120px;
      object-fit: cover;
      margin-top: 5px;
    }

    .contents .c2{
        width: 400px;
        height: 200px;
        background-color: #aaa;
    }
    .contents .c2 img{
        width: 100%;
        height: auto;
        display: block;
    }
    .contents .c3{
        width: 400px;
        height: 200px;
        background-color: #bbb;
    }
    .contents .c3 img{
        width: 100%;
        height: auto;
        display: block;
    }

    footer{
        width: 100%;
        height: 100px;
        display: flex;
    }
    footer .f_logo{
        width: 20%;
        height: 100px;
        background-color: #ddd;
    }
    footer .f_copy{
        width: 60%;
        height: 100px;
        background-color: #ededed;
    }
    footer .f_sns{
        width: 20%;
        height: 100px;
        background-color: #e0e0e0;
    }