*{margin: 0;padding: 0;}
ul, li{list-style: none;}
a{text-decoration: none; color: #111;}
    #wrap{
        width: 1200px;
        margin: 0 auto;
    }
    header{
        width: 100%;
        height: 100px;
        display: flex;
    }
    header .logo{
        width: 20%;
        height: 100px;
        background-color: #999;
    }
    header nav{
        width: 80%;
        height: 100px;
        background-color: #888;
    }
    .slide{
        width: 100%;
        height: 300px;
        background-color: #444;
        position: relative;
    }
    .slide .slides li{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }
    .slide .slides li:first-child {
    display: block; 
    }
    .slide .slides li img{
        display: block;
        width: 100%;
        height: auto;
    }

    .contents{
        width: 100%;
        height: 200px;
        display: flex;
    }
    .contents .c1{
        width: 400px;
        height: 200px;
        background-color: #666;
    }
    .contents .c1 .tab_menu{
        width: 100%;
        height: 100%;
    }
    .contents .c1 .tab_menu .tab_title{
        height: 30%;
        display: flex;
        gap: 10px;
        padding-left: 10px;

    }
    .tab_title h2:first-child::after{
        content: "|";
        margin-left: 10px;
        font-size: 24px;
        position: relative;
        top: -4px;
    }.contents .c1 .tab_menu .tab_title h2{
        padding-top: 10px;
        cursor: pointer;
        font-size: 27px;
      
    }
    .contents .c1 .tab_menu .tab_title h2.on{
        text-decoration: underline;
    }

    .contents .c1 .tab_menu .tab_list table{
        width: 100%;
    }
    .contents .c1 .tab_menu .tab_list table tr td{
        font-size: 15px;
    }
    .contents .c1 .tab_menu .tab_list table tr td:first-child{
        text-align: left;
        padding-left: 10px;
        padding-top: 2px;
        cursor: pointer;
    }
    .contents .c1 .tab_menu .tab_list table tr td:first-child:hover{
        text-decoration: underline;
    }
    .contents .c1 .tab_menu .tab_list table tr td:last-child{
        text-align: right;
        padding-right: 10px;
        padding-top: 2px;
    }
    .contents .c1 .tab_menu .tab_list .gallery{
        display: none;
        text-align: center;
    
    }
    .contents .c1 .tab_menu .tab_list .gallery img{
        width: 30%;
        margin-left: 2px;
        margin-right: 2px;
    }

    .contents .c2{
        width: 400px;
        height: 200px;
        background-color: #333;
    }
    .contents .c2 ul{
        margin-top: 5px;
    }
    .contents .c3{
        width: 400px;
        height: 200px;
        background-color: #555;
    }
    .contents .c3 ul{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }


    footer{
        width: 100%;
        height: 100px;
        display: flex;
        position: relative;
        background-color: skyblue;
    }
    footer .f_1{
        width: 25%;
        height: 100px;
    }
    footer .f_1 img{
        width: 220px;
        height: auto;
        position: absolute;
        top: 13px;
        left: 30px;
    }
    footer .f_2{
        width: 75%;
        height: 100px;
    }
    footer .f_2 .f_menu{
        width: 100%;
        height: 50px;
        position: relative;
    }
    footer .f_2 .f_menu .f_menus{
        position: absolute;
        left: 100px;
        top: 15px;
    }
    footer .f_2 .f_menu a:not(:last-child)::after{
        content: '|';
        margin: 0 10px;
        font-size: 15px;
    }
    footer .f_2 .f_menu a:hover{
        text-decoration: underline;
    }
    footer .f_2 .f_copy{
        width: 100%;
        height: 50px;
        position: relative;
    }
    footer .f_2 .f_copy p{
        position: absolute;
        top: 50%;
        left: 100px;
        transform: translateY(-50%);
        font-size: 14px;
        
    }

    .popup{
        position: fixed;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        width: 550px;
        height: 280px;
        border-radius: 10px;
        border: 6px solid skyblue;
        display: none;
    }
    .popup .p_title{
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 28px;
    }
    .popup p{
        position: absolute;
        top: 95px;
        left: 30px;
        right: 30px;
        line-height: 26px;
    }
    .popup button{
        position: absolute;
        bottom: 30px;
        right: 30px;
        padding: 5px 25px;
        border: 0;
        border-radius: 5px;
    }
