*{margin: 0; padding: 0;}
body{background-color: #fff; color: #333;}
ul, li{list-style: none;}
a{text-decoration: none; color: #111;}

#wrap{
    width: 100%;
}
#main{
    width: 100%;
    height: 850px;
    background-color: #999;
    display: flex;
}
#main header{
    width: 200px;
    height: 850px;
    background-color: #fff7eb;
}
#main header .logo{
    width: 200px;
    height: 100px;
    position: relative;
}
#main header .logo img{
    position: absolute;
    top: 10px;
    right: 1px;

}
#main header nav{
    width: 200px;
    height: 750px;
}
#main header nav .gnb{
    width: 90%;
    background-color: #edd6b4;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
}
#main header nav .gnb > li{
    text-align: center;
    width: 100%;
    position: relative;
}
#main header nav .gnb > li > a{
    display: block;
    width: 100%;
    line-height: 45px;
    font-size: 17px;
    font-weight: bold;
}
#main header nav .gnb > li:hover > a{
    background-color: #85765f;
    color: #fff;
}
#main header nav .gnb > li > ul{
    position: absolute;
    top: 0;
    left: 180px;
    width: 150px;
    line-height: 45px;
    background-color: #f3e4ca;
    display: none;
}
#main header nav .gnb > li > ul > li > a{
    display: block;
    width: 100%;
}
#main header nav .gnb > li > ul > li > a:hover{
    background-color: #ceb390;
    color: #fff;
}
#main .contents{
    width: 400px;
    height: 850px;
}
#main .contents h2{
    font-size: 30px;
    text-decoration: underline;
    padding-top: 20px;
    padding-left: 20px;
}
.contents .notice{
    width: 400px;
    height: 350px;
    background-color: #e4d1b5;
}
.notice .table_container{
    background-color: #fff;
    width: 380px;
    height: 240px;
    border-radius: 20px;
    margin: 0 auto;
}
.contents .notice table{
    width: 100%;
    padding-top: 20px;
    margin-top: 20px;
}
.contents .notice table tr td{
    font-size: 12px;
}.contents .notice table tr:first-child{
    padding-top: 100px;
}
.contents .notice table tr td:first-child{
    text-align: left;
    padding-left: 20px;
    padding-top: 7px;
    cursor: pointer;
}
.contents .notice table tr td:first-child:hover{
    text-decoration: underline;
}
.contents .notice table tr td:last-child{
    text-align: right;
    padding-right: 15px;
    padding-top: 7px;
}
.contents .gallery{
    width: 400px;
    height: 350px;
    background-color: #85765f;
}
.contents .gallery ul{
    display: flex;
    margin-top: 30px;
    gap: 12px;
    justify-content: center;
}
.contents .gallery p{
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}
.contents .link{
    width: 400px;
    height: 150px;
    background-color: #a1a1a1;
}
.contents .link ul{
    display: flex;
}
#main .slide{
    width: calc(100% - 600px);
    height: 850px;
    background-color: pink;
}
#main .slide .slides{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

}
#main .slide .slides li{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
}
#main .slide .slides li:first-child{
    top: 0;
}
#main .slide .slides img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

footer{
    width: 100%;
    height: 100px;
    background-color: #666;
    display: flex;
}
footer .f_logo{
    width: 200px;
    height: 100px;
    position: relative;
}
footer .f_logo img{
    position: absolute;
    top: 25px;
    left: 10px;

}
footer .f_copy{
    width: calc(100% - 450px);
    height: 100px;
    position: relative;
}
footer .f_copy p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer .f_site{
    width: 250px;
    height: 100px;
    position: relative;
}
footer .f_site select{
    padding: 7px 15px;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
}
#pop{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: none;
}
#pop .popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 320px;
    background-color: #fff;
    border-radius: 20px;
    border: 10px solid #333;
}
#pop .popup h2{
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 27px;
}
#pop .popup p{
    position: absolute;
    top: 115px;
    right: 30px;
    left: 30px;
    line-height: 25PX;
    font-size: 14PX;
}
#pop .popup button{
    position: absolute;
    right: 30px;
    bottom: 20px;
    border: 0;
    border-radius: 5px;
    padding: 5px 25px;
    
}