        *{margin: 0;padding: 0;}
        ul, li{list-style: none;}
        a{text-decoration: none;}
        #wrap{
            width: 1200px;
            height: 700px;
            margin: 0 auto;
        }
        header{
            width: 100%;
            height: 100px;
            display: flex;
        }
        header .logo{
            width: 20%;
            height: 100px;
            background-color: #888;
        }
        header nav{
            width: 80%;
            height: 100px;
            background-color: #777;
        }
        .slide{
            width: 100%;
            height: 300px;
            background-color: #666;
        }
        .slide .slides{
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
        }
        .slide .slides li{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 100%;
        }
        .slide .slides li:first-child{
            left: 0;
        }
        .slide .slides li img{
            display: block;
            width: 100%;
            height: auto;
        }

        .contents{
            width: 100%;
            height: 200px;
            display: flex;
        }
    
        .contents .notice{
            width: 33.33%;
            height: 200px;
            background-color: #444;
        }
        .contents .notice table{
            width: 100%;
            margin-top: 8px;
        }
        .contents .notice table tr td{
            font-size: 12.5px;
        }

        .contents .notice table tr td:first-child{
            text-align: left;
            cursor: pointer;
            padding-left: 15px;
            padding-top: 12px;
        }
        .contents .notice table tr td:first-child:hover{
            text-decoration: underline;
        }
        .contents .notice table tr td:last-child{
            text-align: right;
            padding-right: 10px;
            padding-top: 12px;
        }

        .contents h1{
            font-size: 26px;
            text-decoration: underline;
            margin-top: 5px;
            margin-left: 15px;
        }
        .contents .gallery{
            width: 33.33%;
            height: 200px;
            background-color: #333;
        }
        .contents .gallery ul{
            display: flex;
            gap: 15px;
            justify-content: center;
        }
        .contents .gallery img{
            display: block;
            width: 110px;
            height: auto;
            margin-top: 10px;
        }
        .contents .banner{
            width: 33.33%;
            height: 200px;
            background-color: #222;
        }
        .contents .banner img{
            display: block;
            position: relative;
            margin: 0 auto;
            margin-top: 5px;
        }

        footer{
            width: 100%;
            height: 100px;
            display: flex;
        }
        footer .f_logo{
            width: 200px;
            height: 100px;
            background-color: #aaa;
        }
        footer .f_copy{
            width: 700px;
            height: 100px;
            background-color: #bbb;
        }
        footer .f_family{
            width: 300px;
            height: 100px;
            background-color: #ccc;
        }

        #pop{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            display: none;
        }
        #pop .popup{
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            width: 600px;
            height: 280px;
            border-radius: 10px;
            border: 6px solid #666;
        }
        #pop .popup .p_title{
            position: absolute;
            left: 30px;
            top: 30px;
            font-size: 20px;
        }
        #pop .popup p{
            position: absolute;
            left: 30px;
            top: 95px;
            right: 30px;
            line-height: 26px;
        }
        #pop .popup button{
            position: absolute;
            right: 30px;
            bottom: 30px;
            padding: 5px 20px;
            border: 0;
            border-radius: 5px;
        }
