*{margin: 0; padding: 0; color: #333;}
ul, li{list-style: none;}
a{text-decoration: none;}

#wrap{
    width: 100%;
}

header{
    width: 1200px;
    height: 100px;
    background-color: #e4f2ff;
    display: flex;
    margin: 0 auto;
}
header .logo{
    width: 20%;
    height: 100px;
    position: relative;
}
header .logo img{
    width: 220px;
    height: auto;
    position: absolute;
    top: 15px;
    left: 10px;
}
header nav{
    width: 80%;
    height: 100px;
    position: relative;
    z-index: 10;
}
header nav .gnb{
    width: 600px;
    height: 50px;
    background-color: #a0bbe4;
    position: absolute;
    top: 25px;
    right: 25px;
}
header nav .gnb > li{
    float: left;
    width: 150px;
    text-align: center;
}
header nav .gnb > li > a{
    display: block;
    width: 100%;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
}
header nav .gnb > li:hover > a{
    background-color: rgb(84, 142, 230);
    color: #fff
}
header nav .gnb > li > ul{
    line-height: 40px;
    background-color: #93b8f0;
    display: none;
}
header nav .gnb > li > ul > li > a{
    display: block;
    width: 100%;
}
header nav .gnb > li > ul > li > a:hover{
    background-color: rgb(65, 103, 184);
    color: #fff;
}

.slide{
    width: 1200px;
    height: 300px;
    background-color: #222;
    margin: 0 auto;
    position: relative;
}
.slide .slides li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.slide .slides li:first-child{
    display: block;
}
.slide .slides img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contents{
    width: 1200px;
    height: 200px;
    background-color: #777;
    display: flex;
    margin: 0 auto;
}
.contents .c1{
    width: 400px;
    height: 200px;
    background-color: #a9ccec;
}
.contents .c1 .tab_title{
    display: flex;
    gap: 10px;
    padding-top: 15px;
    padding-left: 15px;
}
.contents .c1 .tab_title h2{
    font-size: 25px;
    cursor: pointer;
}
.contents .c1 .tab_title h2.on{
    text-decoration: underline;
}
.contents .c1 .tab_title h2:first-child::after{
    content: '|';
    padding-left: 10px;
    font-size: 20px;
    position: relative;
    top: -4px;
    display: inline-block;
}
.contents .c1 .tab_list table{
    width: 100%;
    margin-top: 5px;
}
.tab_list table tr td{
    font-size: 14px;
}
.tab_list table tr td:first-child{
    text-align: left;
    padding-left: 15px;
    padding-top: 4px;
    cursor: pointer;
}
.tab_list table tr td:first-child:hover{
    text-decoration: underline;
}
.tab_list table tr td:last-child{
    text-align: right;
    padding-right: 15px;
    padding-top: 4px;
}
.c1 .gallery{
    display: none;
    margin-top: 10px;
    padding-left: 16px;
}
.c1 .gallery img{
    padding-left: 4px;
    padding-right: 4px;
}
.contents .c2{
    width: 400px;
    height: 200px;
    background-color: #f3fbff;
}
.contents .c2 ul{
    margin-top: 5px;
}
.contents .c3{
    width: 400px;
    height: 200px;
    background-color: #f3fbff;
}
.contents .c3 ul{
    display: flex;
    gap: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

footer{
    width: 1200px;
    height: 100px;
    background-color: #d1d1d1;
    display: flex;
    margin: 0 auto;
}
footer .f_1{
    width: 20%;
    height: 100px;
    position: relative;
}
footer .f_1 img{
    width: 220px;
    height: auto;
    position: absolute;
    top: 15px;
    left: 10px;
}
footer .f_2{
    width: 80%;
    height: 100px;
}
footer .f_2 .f_menu{
    width: 100%;
    height: 50px;
    position: relative;
}
footer .f_2 .f_menu .f_menus{
    position: absolute;
    top: 15px;
    left: 25px;
}
footer .f_2 .f_menu .f_menus a:not(:last-child)::after{
    content: '|';
    padding-left: 8px;
}
footer .f_2 .f_menu .f_menus a{
    padding-left: 4px;
    font-size: 14px;
}
footer .f_2 .f_menu .f_menus a:hover{
    text-decoration: underline;
}

footer .f_2 .f_copy{
    width: 100%;
    height: 50px;
    position: relative;
}
footer .f_2 .f_copy p{
    font-size: 14px;
    position: absolute;
    left: 30px;
}
#pop{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 11;
}
#pop .popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 500px;
    height: 260px;
    background-color: #fff;
    border-radius: 20px;
    border: 9px solid #777;
}
#pop .popup h2{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 25px;
    line-height: 33px;
}
#pop .popup p{
    position: absolute;
    top: 100px;
    left: 20px;
    right: 20px;
    font-size: 14px;
    line-height: 25px;
}
#pop .popup button{
    position: absolute;
    border: 0;
    bottom: 20px;
    right: 20px;
    padding: 5px 25px;
}